aiohttp
async-timeout
lavalink==0.9.0
jikanpy==1.2.4
beautifulsoup4==4.9.3
bs4
certifi
chardet
discord-py[voice]==1.7.3
discord-together
discord.py==1.7.3
google-api-python-client==2.39.0
google-auth==2.4.1
google-auth-oauthlib==0.4.4
google-auth-httplib2==0.16.0
lxml==4.6.3
mal-scraper==1.3.0
motor==2.5.1
nltk==3.6.2
opuslib==0.1.1
pillow==8.3.1
psutil==5.9.0
py-cord==2.0.0a3
pyarcadia==0.1.0
pydantic==1.8.2
pyfiglet==0.8.post1
pyjwt==2.1.0
pymongo==3.12.0
python-dotenv==0.15.0
python-levenshtein==0.12.0
python-magic==0.4.19
python-slugify==4.0.1
pytz==2021.3
pytube==10.8.0
redis==4.0.2
requests==2.26.0
six==1.16.0
speechrecognition==3.8.1
text-to-speech==0.2.1
textblob==0.15.3
tldextract==3.1.2
unidecode==1.2.0
uvicorn==0.13.4
uvloop==0
